// rodapé do site (blog)
.footer {
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  // este trecho de estilo posiona a parte de baixo da nossa tela
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
// Aqui é o footer normal e footer da logo
.footer .footer__logo {
  max-width: 100px;
}
.footer .footer__text {
  margin: auto;
  font-size: 14px;
}