/// Estas variaveis se referem as cores principais do nosso blog
$purple: #A050BE;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #FABE50;
$img-width: 45%;

@import 'header';
@import 'main';
@import 'footer';
